body {
  background-color: #3d3d3d;
  /* background: linear-gradient(to right, #172842, #c22626); */
  font-family: monospace;
  font-size: large;
}

@media (max-width: 1920px) {
  .card-container {
    margin: 1px !important;
  }
  #top-header {
    font-size: 90px !important;
  }
  #head-container {
    margin-top: 0 !important;
  }
}

#BackgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

#head-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#top-header {
  font-size: 100px;
  color: black;
  text-shadow: 0px 0px 20px white;
  font-family: 'JurassicPark', sans-serif;
  margin: 0 auto;
  position: relative;
}

/* Background-container for Game field */
@media (max-width: 1500px) {
  #memeory_Container {
    display: none;
    visibility: hidden;
  }
  .scoreboard-container {
    display: none;
  }
  #button-container {
    display: none;
  }
}
#memeory_Container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  display: none;
  border-radius: 1rem;
}

/* Style for Memory cards */

.card-container {
  /* background-color: rgb(12, 149, 19); */
  background-image: url(/MemoryMerged/images/BackgroundImages/MemoryCardBackground.png);
  width: 110px;
  height: 110px;
  border: 2px solid rgb(255, 255, 255);
  object-fit: cover;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  /* background-image: url(/Galaxy.jpg); */
  object-fit: cover;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border-radius: 12px;
  margin: 5px;
}

/* Class for Card containing images */
/* Only border should be edited */
.imgContainer {
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  border-radius: 12px;
}

/* Javascript necessary classes */

.flipped {
  transform: rotateY(180deg);
}

.static {
  transform: rotateY(180deg);
}

.back_face {
  backface-visibility: hidden;
}

.back_face {
  transform: rotateY(180deg);
}

/* Color for selected Memeory Card on the Game field */
.card-container:hover {
  background-color: rgb(10, 74, 48);
}

/* Container with Infos for Game Stats */
.scoreboard-container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 50);
  max-width: 200px;
  max-height: 600px;

  border-radius: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  top: 25%;
  left: 2%;
  gap: 50px;
}

/* Div Boxes with Infos for Game Stats */
.scoreboard-container > div {
  background: rgba(255, 255, 255, 0.25);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 2rem;
  text-align: center;
}

.scoreboard-container > div > h3::first-letter {
  color: rgb(132, 20, 20);
}

.scoreboard-container > div > h3 {
  font-family: 'JurassicPark';
  font-size: 35px;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

#button-container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 50);
  width: 10vw;
  height: 10vh;
  border: 1px solid black;
  justify-content: center;
  text-align: center;
  padding: 10px;
  position: absolute;
  right: 10%;
  top: 44%;
  display: flex;
  border-radius: 12px;
}

#button-container > button {
  color: rgb(255, 255, 255);
  font-weight: lighter;
  font-family: 'JurassicPark' !important;
  font-size: 26px;
  cursor: pointer;
  border-radius: 1rem;
  width: auto;
  background-color: #333333;
  border: 1px solid rgb(66, 62, 62);
  padding: 10px 30px 10px 30px;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#button-container > button:hover {
  cursor: pointer;
  background-color: #1e2833;
  transition: all 0.8s;
}

@font-face {
  font-family: 'JurassicPark';
  src: url(/MemoryMerged/fonts/Jurassic_Park.ttf);
}
