body {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(91, 115, 83);
  background-image: url('./images/mysterioeser-tropischer-regenwald-leuchtet-in-ueppigem-gruen-das-von-ki-generiert-wird.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.container{
  justify-content: center;
}

h1 {
  font-size: 100px;
  color: black;
  text-shadow: 0px 0px 20px white;
  font-family: 'JurassicPark', sans-serif;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  color: black;
  text-shadow: 0px 0px 10px white;
}

.backgroundimage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

/* Kreuzworträtselfeld */

table {
  justify-content: center;

  font-weight: bold;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
}

/* Hier ist der Div Container für die Fragen*/

/* .questionsDiv {
  margin: 0 auto;
} */



/* Eingabefeld, Button und generell der ganze Container wird hier gestyled*/

.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.textfieldstyle {
  height: 30px;
  width: 300px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
  font-size: 20px;
}

.btnsubmitstyle {
  
  height: 35px;
  width: 90px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
  margin-left: 2vh;
}

.btnsubmitstyle:hover {
  background-color: rgb(47, 178, 47);
}

/* Schriftart */

@font-face {
  font-family: 'JurassicPark';
  src: url('/fonts/Jurassic_Park.ttf') format('truetype');
}


/* Einzelne Felder bzw auch die Questionboxen werden hier gestyled */

.td1class {
  width: 7vh;
  height: 7vh;

  text-align: center;
  border-collapse: collapse;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.18);
}
.td2class {
  width: 5vh;
  height: 5vh;
  text-align: center;
  border-collapse: collapse;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
}

.td1class:hover {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.td2class:hover {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

#a2{
  background-image: url('../images/imgNr1.png');
  background-size: cover;
}
#e2{
  background-image: url('../images/imgNr2.png');
  background-size: cover;
}
#e4{
  background-image: url('../images/imgNr3.png');
  background-size: cover;
}
#e5{
  background-image: url('../images/imgNr4.png');
  background-size: cover;
}
#c7{
  background-image: url('../images/imgNr5.png');
  background-size: cover;
}

#hiddenBoxQ1{
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
}
#hiddenBoxQ2{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
}
#hiddenBoxQ3{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
}
#hiddenBoxQ4{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
}
#hiddenBoxQ5{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 50);
}


